.container {
  max-width: 1150px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.posts {

  a:first-child {
    margin-top: 5rem;
  }

  a {
    display: block;
    margin-top: 3rem;
    border-bottom: 1px solid #323238;

    time {
      display: block;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: var(--text);
      
    }

    strong {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--title);
      transition: color .2s;
    }

    p {
      margin-bottom: 2rem;
      font-size: 1rem;
      line-height: 1.620rem;
      color: var(--text);
    }

    &:hover strong {
      color: var(--yellow);
    }

  }

}