.content {
  max-width: 1200px;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  height: calc(100vh - 5rem);
  gap: 8em;

  div {
    max-width: 600px;

    > span {
      font-size: 1.25rem;
      font-weight: bold;
    }

    h1 {
      margin-top: 1.5rem;
      font-size: 4rem;
      line-height: 4rem;

      span {
        color: var(--blue);
      }
    }

    p {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      line-height: 2.5rem;

      span {
        color: var(--blue);
      }
    }

    button {
      margin-top: 1.5rem;
    }
  }
}
