.subscribeButton {
  height: 3rem;
  width: 230px;
  padding: 0 1.25rem;
  border-radius: 2rem;
  background-color: var(--yellow);
  color: var(--shape);
  border: 0;
  font-weight: 900;
  transition: filter 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}
