.buttonContainer {
  width: 14rem;
  height: 3rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  background-color: var(--shape);
  border: 0;
  border-radius: 2rem;
  padding: 1.25rem 1rem;
  cursor: pointer;
  color: var(--white);
  font-weight: 600;
  justify-content: space-between;
  transition: filter 0.2s;

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.signInButton {
  svg {
    color: var(--yellow);
  }
  &:hover {
    filter: brightness(0.9);
  }
}

.signOutButton {
  svg {
    color: var(--green);
    &.close {
      color: var(--text);
      height: 1.5rem;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
