.headerContainer {
  height: 5rem;
  border-bottom: 1px solid #4c4c52;
}

.headerContent {
  height: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: relative;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--text);

      &:hover {
        color: var(--white);
      }

      & + a {
        margin-left: 2rem;
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }
      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background-color: var(--yellow);
      }
    }
  }

  button {
    position: absolute;
    right: 0;
  }
}
